@media (max-width: 600px) {
    nav ul li a{
        grid-template-columns: 0px 20px !important;
     }

     .nav-icon{     
        text-align: center !important;
        font-size: 1.2em !important;
     }

     .nav-label{
        display: none;
     }

     nav ul{
        grid-template-rows: 20px;
    }

    .vh-100{
        padding: 0 18px !important;
        background: #333 !important;
    }

    .header{
        font-size: 2em !important;
        margin: 30px 0;
    }
    
    .lead{
        font-size: 1em !important;
        margin: 3px;
    }

    section{
        width: 75vw;
    }

    .oval{
        display: none;
    }
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background: #fff;
    color: #222;
}

.vh-100{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 25px;
    z-index: 1;
    background: #fff;
 }

nav{    
    width: 100%;
    height: 400px;
    top: 50%;
    position: relative;
    margin: auto;    
    transform: translateY(-50%);
}
 nav ul{
     list-style-type: none;
     display: grid;
     grid-template-rows: auto;
     margin: 0;
     padding: 0;
     height: 100%;
     align-items: stretch;
     z-index: 1;
 }

 nav ul li{
    display: inline;
    margin: auto;
 }

 nav ul li a{
    text-decoration: none;
    color: #fff;
    display: grid;
    grid-template-columns: 80px 40px;
 }

 .nav-label{
    margin-top: 5px;
    text-align: right;
    margin-right: 15px;
    opacity: 0;     
    transition: ease-in-out all .3s;
    font-size: 1.2em;
 }

 .nav-icon{     
    text-align: center;
    font-size: 1.5em;
 }

 nav ul li a:hover .nav-label{
     opacity: 1;
 }

 section{
     height: 100vh;
     position: relative;
 }


.section-align-y{
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

.header{
    font-size: 4em;
    margin: 30px 0;
}

.lead{
    font-size: 1.3em;
    margin: 3px;
}

.btn-wrapper{
    margin-top: 40px;
}

.btn-welcome{
    font-family: 'Oswald', sans-serif;
    color: #222;
    background-color: #fff;
    border: #222 1px solid;
    padding: 12px 22px;
    font-size: 13px;
    font-weight: 700;
    margin-right: 45px;
    margin-bottom: 45px;
    transition: 0.2s ;
    cursor: pointer;
    letter-spacing: 2px;
}

.btn-welcome:hover, .btn-welcome:active, .btn-welcome:focus{
    text-decoration: none;
    color: #fff;
    background-color: #222;
    outline: none !important;
    box-shadow: none;    
}

.oval {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 700px;
    height: 700px;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #333;
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    position: absolute;
    top: -140px;
    left: -35px;
    z-index: -1;
  }
